services:
  app:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - deps:/app/deps
      - build:/app/_build
    environment:
      - MIX_ENV=dev
    command: mix phx.server

  dev:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - deps:/app/deps
      - build:/app/_build
    command: sh
    stdin_open: true
    tty: true

volumes:
  deps:
  build:
